click
openpyxl
pandas
pytest
tables
numpy
pathos
black
loguru
unimod-mapper~=0.6.8
peptide-mapper~=0.4.3
chemical-composition~=1.0.6
pyahocorasick>=1.4.4,<2.1.0
pandas>=1.4.3,<2.3.0
numpy<2.0.0
loguru>=0.6,<0.8
tqdm
regex>=2022.7.25,<2023.13.0
uparma>=0.9.15,<1.1.0
IsoSpecPy~=2.2.0